body{
    background-color: #396edb;
    background-image: url("imagenes/fisica.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
#principal{
    color: #fc6146;
    background: #06245c;
    text-align:center;
    font-size: 50px;

}
img{
    margin: 10px 5px 10px;
    width: 100px;
    height: 80px;
    vertical-align: middle;
    padding-bottom: 10px;
}
nav{
    background: #12b2e2;
    margin: 10px;
    padding: 5px ;
    font-size: 20px;
    justify-content: space-around;
}
h1{
    margin: 10px;
}
b{
    font-size: 30px;
    color: #eaeef5;
    margin: 10px;
}
p{
    margin: 10px;
}
section{
    background-color: #06245c;
    display: flex;
    margin: 10px;
    margin-right: 800px;
    padding:10px;
}
.columna {
    background: #86c0c0;
    padding: 20px 20px 20px;
    width: 55%;
    margin: 10px;
}
.padre{
    display: flex;
}
button{
    background: #63fac1;
    color: #cb9a9a;
}
button:hover{
    background: #64d2ad;
}
button:active{
    background: #73d9d9;
}
footer{
    padding-top: 70px;
    margin: 10px;
}
#unico{
    background: #f6f6de;
    color: #71d9b6;
}
#unico:hover{
    background: #f5f579;
}
#unico:active{
    background: #198662;
}
.limpiar{
    background: #8e8d8d;
}
.limpiar:hover{
    background: #0cf8f8;
}
aside{
    padding-left: 750px;

}
.encuentro{
    border: #143628;
    background: #0CF8F8FF;
}
